<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
  <div class="form-group">
    <label for="AREA">AREA:</label>
    <select id="AREA" name="AREA">
      <option value="Karapakkam">Karapakkam</option>
      <option value="Adyar">Adyar</option>
      <option value="Chrompet">Chrompet</option>
      <option value="Velachery">Velachery</option>
      <option value="KK Nagar">KK Nagar</option>
      <option value="Anna Nagar">Anna Nagar</option>
      <option value="T Nagar">T Nagar</option>
    </select>
  </div>

    <div class="form-group">
        <label for="INT_SQFT">INT_SQFT:</label>
        <input type="text" id="INT_SQFT" name="INT_SQFT" placeholder="Enter INT_SQFT of property (float)">
    </div>

    <div class="form-group">  
        <label for="N_BEDROOM">N_BEDROOM:</label>
        <input type="text" id="N_BEDROOM" name="N_BEDROOM" placeholder="Enter No of Bedroom (float)">
    </div>
    
    <div class="form-group">
        <label for="N_BATHROOM">N_BATHROOM:</label>
        <input type="text" id="N_BATHROOM" name="N_BATHROOM" placeholder="Enter no of Bathroom (float)">
    </div>
  
    <div class="form-group">
        <label for="N_ROOM">N_ROOM:</label>
        <input type="text" id="N_ROOM" name="N_ROOM" placeholder="Enter no of rooms (float)">
    </div>
  
    <div class="form-group">
      <label for="SALE_COND">AREA:</label>
      <select id="SALE_COND" name="SALE_COND">
        <option value="Partial">Partial</option>
        <option value="Family">Family</option>
        <option value="AbNormal">AbNormal</option>
        <option value="Normal Sale">Normal Sale</option>
        <option value="AdjLand">AdjLand</option>
      </select>
    </div>        
  
<div class="form-group">
  <label for="PARK_FACIL">PARK_FACIL:</label>
  <select id="PARK_FACIL" name="PARK_FACIL">
    <option value="No">No</option>
    <option value="Yes">Yes</option>
  </select>
</div>
  
<div class="form-group">
  <label for="UTILITY_AVAIL">UTILITY_AVAIL:</label>
  <select id="UTILITY_AVAIL" name="UTILITY_AVAIL">
    <option value="ELO">ELO</option>
    <option value="NoSeWa">NoSeWa</option>
    <option value="NoSewr">NoSewr</option>
    <option value="AllPub">AllPub</option>
  </select>
</div>

<div class="form-group">
  <label for="STREET">STREET:</label>
  <select id="STREET" name="STREET">
    <option value="No Access">No Access</option>
    <option value="Paved">Paved</option>
    <option value="Gravel">Gravel</option>
  </select>
</div> 

<div class="form-group">
  <label for="MZZONE">MZZONE:</label>
  <select id="MZZONE" name="MZZONE">
    <option value="I">I</option>
    <option value="A">A</option>
    <option value="C">C</option>
    <option value="RM">RM</option>
    <option value="RH">RH</option>
    <option value="RL">RL</option>
  </select>
</div>


<div class="form-group">
    <label for="BUILDTYPE">BUILDTYPE:</label>
    <select id="BUILDTYPE" name="BUILDTYPE">
      <option value="House">House</option>
      <option value="Others">Others</option>
      <option value="Commercial">Commercial</option>
    </select>
  </div>

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>
